@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");


 @media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
      button.menu {
        display: none;
    }
    header, footer {
        padding: 20px;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    button.menu {
        display: none;
    }
    header, footer {
        padding: 20px;
    }
}
.hide {
    display: none;
}

:root {
--primary-color: #2815b2;
--secondary-color: #2ce62f;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

body {
    font-family: var(--primary-font);
    font-size: 1.1em;
    background-color: var(--primary-color);
    margin: 0;
  }
header {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
}
footer {
    color: white;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}
figure{
    margin: 0;
    overflow: hidden;
}
img {
	max-width: 100%;
    object-fit: cover;
}


a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button.menu {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.2em;
    cursor: pointer;
}
.gallery h1 {
    font-size: 1.4em;
}
nav {
    margin: 0 auto;
    font-size: 1.1em;
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: underline;
}
nav ul li {
    margin: 10px 0;
}
main {
    background-color: beige;
    align-content: center;
    justify-content: center;
    display: flex;
}



.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.menu a:hover {
    color: var(--secondary-color);
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: grey;
    display: grid;
    justify-items: center;
    align-items: center;
    
    display: none;
}

.viewer img {
    max-height: 80%;
    max-width: 80%;
}

.close-viewer {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (min-width: 1000px) {
    .viewer {
        padding: 20px;
        max-width: 500px;
        max-height: 70%;
    }

    .viewer img {
        max-height: 100%;
    }
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.8);
}
.modal.hide {
  display: none;
}
.modal-content {
  max-width: 90vw;
  max-height: 90vh;
}
.close {
  position: absolute;
  top: 20px; right: 40px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}