:root {
    --link-color: #03ae0c;
    --text-dark: #e00707;
    --text-light: #white;
    --border-color: #0905f1;
    --body-font: Georgia, Serif;
    --headline-font: Impact, Serif;
    }
    header h1 {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .skiptocontent a {
        position: absolute;
        top: -50px;
    }
    .skiptocontent a:focus {
        top:0px
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr .5fr;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: end;
        justify-items: end;
        grid-column-start: 2;
        list-style-type: none;
        color: var(--link-color);
        font-size: 1.2em;
    }
    a {
        color: var(--link-color);
    }
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: 20px;
    }
    #filters {
        border: 2px solid var(--border-color);
    }
    .itemBook {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        justify-items: center;
        text-align: left;
        align-content: center;
    }
    .metaBook {
        border-right: 2px solid var(--border-color);
        text-align: center;
    }
    h3 {
        color: var(--link-color);
    }